# help is defined in 
# https://gist.github.com/rcmachado/af3db315e31383502660
help:
	$(info --------------------------------------- )	
	$(info Available targets)
	$(info --------------------------------------- )
	@awk '/^[a-zA-Z\-\_0-9]+:/ {                    \
	  nb = sub( /^## /, "", helpMsg );              \
	  if(nb == 0) {                                 \
	    helpMsg = $$0;                              \
	    nb = sub( /^[^:]*:.* ## /, "", helpMsg );   \
	  }                                             \
	  if (nb)                                       \
	    print  $$1 "\t" helpMsg;                    \
	}                                               \
	{ helpMsg = $$0 }'                              \
	$(MAKEFILE_LIST) | column -ts:	

## same as 'make epics'
all: epics  

## Setup EPICS Environment
epics: base modules 

## Clean BASE and all modules
clean: modules-clean base-clean
	rm -f *~


# Exclude EPICS_MODULES
M_DIRS:=$(sort $(dir $(wildcard $(EPICS_MODULES)/*/.)))

dirs:
	@echo $(M_DIRS) || true



.PHONY: help all epics clean dirs

VARS_EXCLUDES+=M_DIRS

include $(TOP)/builder/configure/RULES_BASE
include $(TOP)/builder/configure/RULES_MODULES
include $(TOP)/builder/configure/RULES_EXTENSIONS
include $(TOP)/builder/configure/RULES_VARS


